        @import url(base.css);
        body{
            font-family:'Trebuchet MS', sans-serif, monospace;
        }
        img{
            border-radius: 10px;
            max-width: 100%;
        }
        h1{
            font-weight: bold;
            margin-top: 10px;
        }
        article{
            background-color: #f5f5f5e7;
            border-radius: 12px;
            margin: 30px;
            margin-bottom: 30px;
            padding: 20px;
            box-shadow: 3px 3px;
        }
        span{
            margin-right: 10 px;
        }
        .genre{
            background-color: lightgray;
            padding: 10px;
            border-radius: 8px;
            display: inline-block;
        }